@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.gridlayout {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    /* height: 100px; */
    /* background-color: aqua; */
}

.headerchild1 {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    gap: 50px;
    list-style: none;
    /* background-color: azure; */

}

.headerchild2 {
    margin-top: 25px;
}
.headerchild4 {
    margin-right: 20px;
    background-color: #43B6E7;
}


.color {
    background: #121212;
}

.buttoncolor {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    background-color: #696464;
    border-radius: 10px;
}

.headerchild1 a {
    text-decoration: none;
    color: #9B9B9B;
    font-size: 20px;
    /* background-color: azure; */

}

.headermain {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    /* background-color: azure; */
    margin-left: -5px;
}

.sportvariant {
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: content; */
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;
    /* background-color: aquamarine; */
}

.sportsname {
    text-align: center;
    margin-bottom: 20px;
}

.uniform-img1 {
    width: 200px;
    height: 130px;
    border-radius: 20px;

}

.sport1 {
    display: flex;
    justify-content: space-between;
}

.downarrow::after {
    content: "\2193";
    /* font-size: 20px; */
}

.sports600txt {
    color: white;
    width: 800px;
    /* background-color: aqua; */
}

.Distance {
    display: flex;
    gap: 70px;
    color: white;
    margin-bottom: 50px;
    /* font-size: 15px; */
    /* background-color: #B2AE2B; */
}

.yourlocation {
    color: white;
    width: 300px;
    padding-bottom: 10px;
    /* background-color: aqua; */
}

.location1 {
    display: flex;
    justify-content: left;
}

.Chennai {
    color: white;
    margin-left: 10px;

}

.yourlocationmain {
    display: flex;
    justify-content: space-between;
    /* background-color: #B2AE2B; */
    width: 500px;
}

.location {
    flex-wrap: wrap;
    /* background-color: aqua; */
    justify-content: space-between;
    display: flex;
    gap: 50px;
}

.location a {
    color: white;
    text-decoration: none;
    /* display: flex; */
    /* margin-right: 400px;     */
}

.locationchild {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}


.locationchild1 {
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}

.locationchild2 {
    font-size: 20px;
    margin-top: 3px;

}

.searchmain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
}

.search {
    color: #6D6A6A;
    border-radius: 30px;
    background-color: #443F3F;
    width: 410px;
    padding: 15px 0px;
    font-size: 20px;
    padding-right: 160px;
}

.bi-search {
    margin-right: 20px;
    margin-bottom: 0px;
    color: #908C8C;
}

.bi-geo-alt {
    color: #43B6E7;

}

.bi-chevron-down {
    color: white;
    margin-left: 15px;
    padding-top: 1px;
}

.rating {
    background-color: gray;
    padding: 4px;
    border-radius: 10px;
}

.subname {
    font-weight: lighter;
}

.uniform-img {
    width: 380px;
    height: 220px;
    border-radius: 20px;
}

.example {
    display: flex;
    justify-content: space-between;
}



.Popular {
    color: white;
    text-align: center;
    margin-top: 50px;
}
.seemoremain{
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
/* background-color: #0BAC0B; */
}
.seemore {
    color: white;
    width: 250px;
    text-align: center;
    font-size: 20px;
    background-color: #B2AE2B;
    border-radius: 20px;
    padding: 10px 20px;
}

.maincard1 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-top: 30px
}

.Item {
    flex: 1 1 calc(20.333% - 30px);
    display: inline-block;
    border: 1px solid #D9D9D9;
    color: #F5EFEF;
    border-radius: 8px;
    padding: 10px;
    background-color: transparent;
    width: 300px;
    text-align: center;
    font-size: 30px;
}

.Your {
    color: white;
    margin-top: 70px;
    display: flex;
    text-align: justify;
    /* background-color: #6D6A6A; */
}

.yourchild {
    font-weight: 150;
    margin-top: 30px;
    text-align: justify;
    width: 800px;
    /* background-color: #B2AE2B; */
}

.yourchild2 {
    margin-top: 30px;
    font-weight: bold;
}

.tennistmg {
    margin-left: auto;
}

.venue {
    /* color: #B2AE2B; */
    justify-content: space-between;
}

.citieschild2 {
    display: flex;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
    color: #C7C3C3;
    font-size: 11px;
    margin-left: 30px;
    /* background-color: #0BAC0B; */

}
.citieschild5{
    display: flex;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
    color: #C7C3C3;
    font-size: 11px;
    margin-left: 30px;
}

.Cities {
    color: white;
    font-size: 20px;
    margin-top: 40px;
    font-weight: bold;
    margin-left: 30px;
    padding-top: 30px;
    /* background-color: #0BAC0B; */
}

.citieschild1 {
    color: white;
    margin: 30px 0px;
    font-weight: bold;
    margin-left: 30px;
    font-size: 18px;
}

.citiesmain {
    background-color: #2E2A2A;
    padding-bottom: 30px;
}

.Discover {
    display: flex;
    margin-left: 90px;
    margin-top: 30px;
    /* background-color: aqua; */
}

.town {
    color: #5B4FFD;
}

.Discoverchild1 {
    color: white;
    font-weight: 700;
    font-size: 70px;
    text-align: justify;
    margin-top: 30px;
}
.Discoverchild6{
    color: white;
    font-weight: 700;
    font-size: 25px;
    text-align: justify;
    margin-top: 30px;
}

.Discoverchild2 {
    color: white;
    font-size: 20px;
    background-color: #696464;
    width: 350px;
    border-radius: 30px;
    margin: 50px 0px;
    padding: 20px 20px;
}

.bi-crosshair2 {
    color: #0BAC0B;
    position: relative;
    right: 20px;
}

.bi-arrow-right {
    position: relative;
    left: 20px;
}


.Discoverchild3 {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    width: 500px;
    margin-top: 30px;

}

.Discoverchild4 {
    display: inline-block;
    border: 1px solid #D9D9D9;
    color: #F5EFEF;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: transparent;
    text-align: center;
}

.bi-geo-alt-fill {
    color: #9A2DED;
    position: relative;
    right: 5px;
    top: 1px;
}

.qrcodemain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aqua; */
}

.qrcodechild1 {
    color: white;
    font-size: 60px;
}

.qrcodechild2 {
    color: white;
    margin-top: 30px;
    font-size: 20px;
}

.qrcode {
    background-color: #484646;
    width: 90%;
    padding: 150px 0px;
    margin: auto;
}

.Discoverchild5 {
    display: flex;
    margin-left: auto;
}

.iconmove {
    position: relative;
    /* margin-top: 100px; */
}

.Discoverchild5 {
    display: flex;
    justify-content: center;
}

.example {
    margin-top: 10px;
}

.qrocdeicon {
    margin-top: 50px;
    margin-left: 80px;
    /* background-color: #9A2DED; */

}

.bi-arrow-right-circle {
    position: relative;
    top: 7px;
    left: 5px;

    width: 25px;
}

.footetmain {
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.footetmain li{
    list-style-type: none;
    margin-bottom: 10px;
}
.footetmain p{
    margin-bottom: 30px;
}